<div class="card card-w-title">
    <h1>Proveedores</h1>
    <div class="p-grid" style="margin: 5px; background-color: whitesmoke;">
        <div class="p-col">
            <button icon="pi pi-plus" pButton type="button" (click)="showDialog()" label="Agregar" class="ui-button-success"></button>
        </div>
        <div class="p-col text-right">
            <button type="button" pButton pRipple icon = "pi pi-print"  label="Reporte" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>        
        </div>
    </div>
    <p-table #dt [value]="proveedores" [paginator]="true" [columns]="cols" [rows]="10"[showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Lista de Proveedores"
        [globalFilterFields]="['provFkPersona.persNombre']">
        <ng-template pTemplate="caption">
            <div class="p-grid">
                <div class="p-col" style="text-align: left;">
                    <p>Lista de Proveedores</p>
                </div>
                <div class="p-col" style="text-align: right">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Nombre del Proveedor"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
                <th style="width: 100px;">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proveedores>
            <tr >
                <td>{{proveedores.provFkPersona.persCedula}}</td>
                <td>{{proveedores.provFkPersona.persNombre}}</td>
                <td>{{proveedores.provFkPersona.persApellido}}</td>
                <td>{{proveedores.provFkPersona.persEmail}}</td>
                <td>{{proveedores.provFkPersona.persTelefono}}</td>
                <td>{{proveedores.provFkPersona.persDireccion}}</td>
                <td style="width: 100px;" class="text-center">
                    <!-- <p-button icon="pi pi-pencil" styleClass="ui-button-warning"(click)="showDialogEdit(proveedores)"></p-button> -->
                    <p-button icon="pi pi-trash" styleClass="ui-button-danger"(click)="eliminarProveedor(proveedores)"></p-button>
                </td></tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="cols.length">No hay datos.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Ingresar nuevo Proveedor" [(visible)]="dis" [modal]="true" [style]="{width: '40vw'}"
        [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <form [formGroup]="addForm1">
  
            <div style="display:flex; justify-content: left; align-items: center;">
                <p><strong>Persona: </strong></p>
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown id="provFkPersona" name="provFkPersona" formControlName="provFkPersona"  [options]="personas" [(ngModel)]="persona" [filter]="true" optionLabel="persNombre"></p-dropdown>
                </div>
            </div>
            <br>

                       
        </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-save" (click)="crearProveedor()"label="Guardar"></button>
            <button type="button" pButton icon="pi pi-times" (click)="dis=false" label="Cancelar"class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>

    <p-dialog header="Editar Proveedor" [(visible)]="dis_edit" [modal]="true" [style]="{width: '40vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <form [formGroup]="addForm2">
                 
                   
    </form>
    <p-footer>
        <button type="button" pButton icon="pi pi-save" (click)="editarPorveedor()"label="Editar"></button>
        <button type="button" pButton icon="pi pi-times" (click)="dis_edit=false" label="Cancelar"class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>


</div>