<div class="container-fluid bg-light">
    <div class="row">
      <div class="col-12">
        <div class="card border-secondary mb-3">
          <div class="card-header">Caja Apertura</div>
          <div class="card-body text-secondary">
            <h6 class="card-title">Datos Apertura</h6>
            <!--Inicio formulario-->
            <form>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Fecha Apertura</label>
                  <input type="date" class="form-control" id="fechaemision">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Monto de Apertura</label>
                    <input type="text" class="form-control" id="ruccliente" placeholder="CI/RUC">
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputEmail4">Observacion</label>
                 <textarea   class="form-control" id="observacion"></textarea>
                </div>
             </div> 
             <div class="text-right">
                <button type="submit" class="btn btn-primary">Aperturar Caja</button>
               </div>
            </form>
  <!--Fin Formulario-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-12">
        <div class="card border-secondary mb-3">
          <div class="card-header">Caja Cierre</div>
          <div class="card-body text-secondary">
            <h6 class="card-title">Datos Cierre</h6>
            <!--Inicio formulario-->
            <form>
              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Monto de Apertura</label>
                    <input type="text" class="form-control" id="montoapertura">
                  </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Fecha Cierre</label>
                  <input type="date" class="form-control" id="fechacierre">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Monto en Ventas</label>
                    <input type="text" class="form-control" id="montoventas">
                  </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Monto en Compras</label>
                  <input type="text" class="form-control" id="montocompras">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Monto de Cierre</label>
                    <input type="text" class="form-control" id="montoventas">
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputEmail4">Observacion</label>
                 <textarea   class="form-control" id="observacion"></textarea>
                </div>
             </div> 
             <div class="text-right">
                <button type="submit" class="btn btn-primary">Cerrar Caja</button>
               </div>
            </form>
  <!--Fin Formulario-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  