<div class="ui-g ui-fluid">
    <form [formGroup]="addForm" >
        <div class="card card-w-title">
            <h1>Formulario de Reservación Eucaristía</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2" >
                    <p-button label="Buscar" (click)="findbyCedula()" icon="pi pi-search" styleClass="ui-button-success"></p-button>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="10" formControlName="reseCedula" name="reseCedula" id="reseCedula" type="text" pInputText placeholder="Buscar por el numero de Cédula">
                    <div *ngIf="reseCedula.invalid && (reseCedula.dirty || reseCedula.touched)">
                        <p-message severity="error" text="Campo requerido para la busqueda"></p-message>  
                        <div *ngIf="this.cedulacorrecta==false">
                            <p-message severity="error" text="Porfavor ingresar un numero de cédula valida"></p-message> 
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    
                </div>
                
               
                <div class="ui-g-12 ui-md-2 text-center" *ngIf="checked1==true">
                    <p-message severity="success" text="ACTIVO"></p-message>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Persona Solicitante:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input disabled formControlName="resePersona" name="resePersona" id="resePersona" type="text" pInputText>
                    </div>
                    <div *ngIf="resePersona.invalid && (resePersona.dirty || resePersona.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Tipo de Eucaristía:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown id="reseTiposeucaristias" name="reseTiposeucaristias" formControlName="reseTiposeucaristias"  [options]="tiposEucaristias" [(ngModel)]="tipoEucaristiaSelect" [filter]="true" optionLabel="tipeNombre" placeholder="Seleccione el Tipo de Eucaristía"></p-dropdown>
                    <div *ngIf="reseTiposeucaristias.invalid && (reseTiposeucaristias.dirty || reseTiposeucaristias.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Fecha de Resgistro:</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <p-calendar disabled="false" formControlName="reseFechareservacion" name="reseFechareservacion" id="reseFechareservacion"  [showIcon]="true"  [(ngModel)]="date1" placeholder="Año-Mes-Día" dateFormat="yy/mm/dd"></p-calendar>
                    <div *ngIf="reseFechareservacion.invalid && (reseFechareservacion.dirty || reseFechareservacion.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Fecha de la Misa:</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <p>{{eventoselect ? eventoselect.caleFecha : 'Ninguna evento seleccinado'}}</p>

                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Evento de Eucaristía:</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <p-dropdown *ngIf="this.banEventos == true" placeholder="Seleccione el Evento" id="reseCalendario" name="reseCalendario" formControlName="reseCalendario"  [options]="this.eventosActuales" [(ngModel)]="eventoselect" [filter]="true" optionLabel="caleEvento" ></p-dropdown>
                    <div *ngIf="reseCalendario.invalid && (reseCalendario.dirty || reseCalendario.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Otros Asistentes:</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-users"></i></span>
                        <input formControlName="reseOtros" name="reseOtros" id="reseOtros" type="text" pInputText>
                    </div>
                    <div *ngIf="reseOtros.invalid && (reseOtros.dirty || reseOtros.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Hora de la Misa:</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-clock"></i></span>
                        <input disabled formControlName="reseHora" name="reseHora" id="reseHora" [(ngModel)]="eventoselect.caleHora" type="text" pInputText placeholder="Hora de la Eucaristía" >
                        
                    </div>
                    <div *ngIf="reseHora.invalid && (reseHora.dirty || reseHora.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Valor de Eucaristía:</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-dollar"></i></span>
                        <input readonly [(ngModel)]="tipoEucaristiaSelect.tipeValor " maxlength="250" formControlName="reseValorfijo" name="reseValorfijo" id="reseValorfijo" type="number" pInputText placeholder="Costo de la Eucaristía" >
                    </div>
                    
                </div>
                <br>
                <div class="ui-g-12">
                    <label for="input">Descripción de la Eucaristía:</label>
                    <br><br>
                    <textarea maxlength="5000" formControlName="reseDescripcion" name="reseDescripcion" id="reseDescripcion" [rows]="4" [cols]="100" placeholder="Descripción sobre el registro de la Eucaristía." pInputTextarea autoResize="autoResize" class="form-control"></textarea>
                    <div *ngIf="reseDescripcion.invalid && (reseDescripcion.dirty || reseDescripcion.touched)">
                        <p-message severity="error" text="Campo Requerido"></p-message>  
                    </div>
                </div>
                <br>             
                <div class="ui-g-12 text-center">
                    <p-button label="Guardar" icon = "pi pi-save" styleClass="ui-button-info" (click)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </form>
</div>

<p-dialog header="Vista previa del comprobante" [(visible)]="dis" [modal]="true" [style]="{width: '35vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    
    <kendo-pdf-export #pdf  paperSize="A4" margin="5mm" style="font-family: 'DejaVu Sans', 'Arial', sans-serif;font-size: 12px;">
        <div class="container">
            <div class="p-grid" style="font-weight: bold;" >
                <div class="p-col text-left">
                    <h6> PARROQUIA SAN JOAQUIN </h6>
                    <h6>Reservación de Eucaristía</h6>
                    <p>Fecha de Registro:   {{dateRegistro.getFullYear()}}/{{dateRegistro.getMonth()+1}}/{{dateRegistro.getDate()}}<br>
                       Fecha de Reservación:  {{dateReserva.getFullYear()}}/{{dateReserva.getMonth()+1}}/{{dateReserva.getDate()}}
                    </p>   
                </div>
                <div class="p-col text-right">
                    <img src="../../../assets/layout/images/sanjoaquin.jpg" width="110px" height="120px">
                </div>
            </div>
            <br>
            <div class="card card-w-title">
                <h6 class="text-right">Datos de la Eucaristía</h6>
                <hr>
                <div class="p-grid">
                    <div class="p-col">
                        <p>Persona solicitante: {{Persona.persNombre}} {{Persona.persApellido}}</p>
                    </div>
                    <div class="p-col">
                        <p>Identificación: {{Persona.persCedula}}</p>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col">
                        <p>Tipo Eucaristía: {{nombreTE}}</p>
                    </div>
                    <div class="p-col">
                        <p>Participantes: {{rEucaristia.reseOtros}}</p>
                    </div>
                    <div class="p-col">
                        <p>Valor fijo: {{rEucaristia.reseValorfijo}}</p>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col">
                        <p>Descripción: {{rEucaristia.reseDescripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </kendo-pdf-export>
    <p-footer>
        <div class="p-grid">
            <div class="p-col text-left">
                <p-button label="Descargar" (onClick)="pdf.saveAs('comprobanteReservacionEucaristia.pdf')" icon = "pi pi-cloud-download" styleClass="ui-button-info"></p-button>
            </div>
            <div class="p-col text-right">
                <p-button icon="pi pi-times" (click)="dis=false" label="Cerrar" styleClass="ui-button-secondary"></p-button>
            </div>
        </div>
    </p-footer>
</p-dialog>