<div class="landing-wrapper">
    <div id="features"> 
        <div class="features-content">
            <p-carousel [value]="modulos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                <p-header>
                    <h3> <b>SISTEMA WEB DE GESTIÓN PARROQUIAL</b> </h3>
                    <p>Información sobre cada unos de los serviciós integrados dentro del sistema.</p>
                </p-header>
                <br><br>
                <ng-template let-modulo pTemplate="item">
                    <div class="car-details">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12">
                                <img src="assets/layout/images/{{modulo.path}}.png" />
                            </div>
                            <div class="p-col-12 car-data">
                                <div class="car-title">{{modulo.name}}</div>
                                <div class="car-subtitle">{{modulo.descripcion}}</div>
            
                                <div class="car-buttons">
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-external-link" label="Ingresar" routerLink='/{{modulo.pathModulo}}'></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <br><br><br>
        <div class="features-content">
            <p-header>
                <h3>PÁGINA WEB</h3>
                <p>Información detallada sobre los eventos dentro la Parroquia San Joaquín.</p>
            </p-header>
            <br><br>
            <iframe style="width: 100%; height: 500px; overflow: hidden;" src="" width="100" height="100" scrolling="no">Iframes not supported</iframe>
        
            <div class="car-buttons">
                <a href="https://" class="btn btn-primary">Ir a página</a>
            </div>
        </div>
    </div>
</div>
